.admin-creation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.advanced-settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 70%;
    background-color: rgb(var(--second-color));
    border-radius: 10px;
    padding: 50px;
}

.advanced-settings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
}
.advanced-settings-form .app-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: -30px 0 -10px 0;
}
.advanced-settings-form .user-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

.advanced-settings-form .split{
    width: 450px;
    height: 2px;
    border-radius: 2rem ;
    background-color: white;
    border: none;
    margin: 10px;
}

.advanced-settings-form input{

}