.employee-creation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.employee-creation-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 500px;
    min-height: 400px;
    height: 50%;
    background-color: rgb(var(--second-color));
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.employee-creation-modal form{
    margin-top: -10px;
}

.employee-creation-form-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.employee-creation-form-fields .row{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   top: 0;
}
.employee-creation-form-fields .row .form-field input{
    width: 80%; 
  }

.employee-creation-modal .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}   

.employee-creation-modal .error,
.employee-creation-modal .error-show{
    color: red;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    margin-left: 10%;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
.employee-creation-modal .error-show{
    opacity: 1;
    margin-left: 0;
    pointer-events: all;
}
