.hours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
  width: 100%;
}



.hours-container.one-col .hours-table {
  height: 500px;
  width: 90%;
}

.hours-container.seven-cols .hours-table{
  height: 500px;
  width: 100%;	
}

.hours-container.thirty-one-cols .hours-table {
  height: 600px;
  width: 100%;
}

.hours-container.seven-cols .hours-table th,
.hours-container.seven-cols .hours-table td {
  min-width: 290px;
}

.hours-container.thirty-one-cols .hours-table th,
.hours-container.thirty-one-cols .hours-table td {
  min-width: 290px;
}

.hours-table {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-width: 1280px;
}

.hours-table-sort {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: rgb(var(--second-color));
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(-1px 1px 1px black);
}

.hours-table-sort.clicked {
  fill: rgb(var(--second-color));
  transition: all 0.3s ease-in-out;
}

.hours-table::-webkit-scrollbar {
  display: auto;
  width: 15px;
  height: 15px;
  margin: 10px;
}

.hours-table::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: rgb(var(--second-color));
  cursor: pointer;
}

.hours-table::-webkit-scrollbar-track {
  background-color: transparent;
}

.hours-table::-webkit-scrollbar-corner {
  background: transparent;
}

.hours-table table {
  width: 96%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 1250px;
  overflow: scroll;
  margin: 10px;
}

.hours-table th,
.hours-table td {
  padding: 8px;
  min-width: 125px;
  width: 100%;
  height: 50px;
  text-align: left;
  border: 1px solid rgb(var(--text-color));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(var(--second-color));
  font-size: 20px;
}

.hours-table .row-name{
  width: 47%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: rgb(var(--text-color));
}

.hours-table td input {
  width: 30%;
  border-radius: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: transparent;
  border: 3px solid rgb(var(--second-color));
  font-size: 20px;
  color: rgba(var(--second-color));
  filter: drop-shadow(-1px 2px 5px rgb(0, 0, 0 0.5));
}

.hours-table td input::placeholder {
  color: rgba(var(--second-color));
}

.hours-table tr {
  display: flex;
}

.hours-table th {
  color: rgb(var(--second-color));
  font-size: 20px;
  text-shadow: -1px 1px 1px rgb(var(--text-color));
}

.hours-table-top-content {
  text-shadow: -1px 1px 1px rgb(var(--text-color));
  display: flex;
  font-size: 25px;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  color: rgb(var(--second-color));
  max-width: 1280px;
}

.hours-container-header {
  text-align: left;
  width: 20%;
}

.hours-cointainer-header-actions {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  width: 100%;
  align-items: center;
}

.hours-cointainer-header-actions .loadingIcon{
  height: 50px;
}

.hours-cointainer-header-actions p{
  font-size: 12px;
  position: relative;
  left: 5%;
  color: white;

}
.hours-table-top-content th {
  border: none;
  min-width: 220px;
  height: 120px;
}

.hours-table-top-content .title {
  display: flex;
  justify-content: flex-start;
}

.hours-table-top-content .col-selector, 
.hours-table-top-content .col-selector-small  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
  z-index: 1;
  width: 65%;
  min-width: 530px;
  border-radius: 2rem;
  cursor: pointer;
}

.hours-table-top-content .col-selector-small {
  position: absolute;
  right: 10%;
  top: 220px;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 30%;
  min-width: 155px;
  background-color: rgb(var(--second-color));
}

.hours-table-top-content .col-selector select,
.hours-table-top-content .col-selector-small select {
  height: 50px;
  background-color: rgb(var(--primary-color));
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 20px;
  color: rgb(var(--text-color));
  outline: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hours-table-top-content .col-selector-small .display{
  width: 90%;
  margin-bottom: 10px;
}
.hours-table-top-content .col-selector-small select{
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.hours-table-top-content .col-selector select:hover {
  background-color: rgb(var(--second-color));
}

.hours-table-top-content .col-selector .datepicker input,
.hours-table-top-content .col-selector-small .datepicker input{
  border-radius: 2rem;
  background-color: transparent;
  border: 3px solid black;
  font-size: 20px;
  color: rgb(var(--text-color));
  text-align: center;
  cursor: pointer;
  box-shadow: -1px 2px 5px rgb(0, 0, 0 0.5);
  height: 35px;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-in-out;
}

.hours-table-top-content .col-selector-small .datepicker input{
  font-size: 16px;
  height: 25px;
  width: 80%;
  background-color: rgb(var(--primary-color));
}

.hours-table-top-content .col-selector .datepicker input .form-field-optional{
  width: 120px;
  color: white;
}

.hours-table-top-content .col-selector .datepicker input:hover {
  background-color: rgb(var(--second-color));
}

.hours-table-top-content .col-selector .namepicker input,
.hours-table-top-content .col-selector-small .namepicker input{
  border-radius: 2rem;
  background-color: transparent;
  border: 3px solid black;
  font-size: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: -1px 2px 5px rgb(0, 0, 0 0.5);
  height: 35px;
  cursor: pointer;
  width: 120px;
  transition: all 0.3s ease-in-out;
}

.hours-table-top-content .col-selector .namepicker .form-field-optional,
.hours-table-top-content .col-selector-small .namepicker .form-field-optional{
  width: 120px;
  color: rgb(var(--text-color));;
}

.hours-table-top-content .col-selector-small .namepicker .suggestions li{
  font-size: 12px;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--text-color));
  text-shadow: none;
  border: none;
}

.hours-table-top-content .col-selector-small .namepicker input{
  font-size: 16px;
  height: 15px;
  width: 95%;
  background-color: rgb(var(--primary-color));
}

.hours-table-top-content .col-selector .namepicker .suggestions{
  border: none;
  top: 118%;
  border-radius: 0.5rem;
}

.hours-table-top-content .col-selector .namepicker .suggestions li{
  font-size: 16px;
  background-color: rgb(var(--second-color));
  color: rgb(var(--text-color));
  overflow: hidden;
  text-overflow: ellipsis;
}

.hours-table-top-content .col-selector .namepicker .autocomplete-input button{
  color: rgb(var(--text-color));;
}

.hours-table-top-content .col-selector .namepicker input:hover {
  background-color: rgb(var(--second-color));
}

.hours-table-top-content .col-selector .display {
  display: flex;
  flex-direction: column;
  color: rgb(var(--text-color));;
  font-size: 25px;
  height: 35px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.hours-container .timepicker {
  padding-left: 10px;
  width: 25%;
  border-radius: 2rem;
  text-align: center;
  background-color: transparent;
  border: 3px solid rgb(var(--second-color));
  font-size: 20px;
  color: rgb(var(--text-color));;
  transition: all 0.3s ease-in-out;
}

.hours-container .timepicker-enabled {
  padding-left: 10px;
  width: 25%;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(var(--second-color));
  border: 3px solid black;
  font-size: 25px;
  color: rgb(var(--text-color));;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hours-container .timepicker span {
  font-size: 16px;
  font-weight: bold;
}

.hours-container .timepicker input {
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: rgba(var(--second-color));
  min-width: 50px;
  min-height: 25px;
}

.hours-container .timepicker ::placeholder {
  color: rgb(var(--second-color));
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.hours-table-top-content .hamburger-icon{
  position: absolute;
  right: 10%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  stroke: rgb(var(--text-color));
  stroke-width: 2px;
  filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.5));
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out, 
              filter 0.1s ease-in-out, 
              ill 0.5s ease-in-out, 
              stroke 0.5s ease-in-out,
              rotate 0.5s ease-in-out;
}

.hours-table-top-content .hamburger-icon:hover{
  stroke: rgb(var(--third-color));
  filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.5));
}

.hours-table-top-content .hamburger-icon:active{
  transform: translate(-2px, 2px);
  filter: none;
  transform: rotate(-90deg) ;
}

@media screen and (max-width: 600px) {
  .hours-container{
    height: 75%;
  }
  .hours-table th, .hours-table td {
    padding: 4px;
  }
  .hours-container .timepicker, .hours-container .timepicker-enabled {
    font-size: 10px;
  }
  .hours-container.seven-cols .hours-table th,
  .hours-container.seven-cols .hours-table td {
  min-width: 125px;
  width: 100%;
}

.hours-container.thirty-one-cols .hours-table th,
.hours-container.thirty-one-cols .hours-table td {
  min-width: 125px;
  width: 100%;
}
.hours-table-top-content .col-selector-small {
  top:260px;
}
  
}