.loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 500px;
    height: 650px;
    background-color: rgb(var(--second-color));
    border-radius: 10px;
    color: rgb(var(--text-color));
 
}

.login-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
}

.login-modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    margin-top: -10%;
}

.login-modal .error,
.login-modal .error-show{
    color: red;
    height: 20px;
    opacity: 0;
    pointer-events: none;
    height: 55px;
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}
.login-modal .error-show{
    opacity: 1;
    margin-left: 0;
    pointer-events: all;
}

.login-modal-content h2{
    color: rgb(var(--text-color));
    margin-bottom: -80px;
}

.stay-loggedIn{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    align-items: flex-start;
    color: rgb(var(--text-color));
    height: 20%;
    justify-content: space-between;
}

.login-modal .register-success{
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-height: 800px){
    .login-modal{
        margin-top: 14%;
    }
}