.error-container,
.error-container-show{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}


.error-container-show{
    opacity: 1;
    pointer-events: all;
}

.error-container-show .error-message,
.error-container .error-message,
.error-container-show .error-message-success,
.error-container .error-message-success{
    color: red;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.error-container-show .error-message-success,
.error-container .error-message-success{
    color: green;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.error-container-show .error-message .error-svg-container,
.error-container .error-message .error-svg-container,
.error-container-show .error-message-success .error-svg-container,
.error-container .error-message-success .error-svg-container{
    width: 25px;
    height: 25px;
    display: inline-block;
    fill:red;
    margin-bottom: 5px;
}

.error-container-show .error-message-success .error-svg-container{
    fill: green;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}
