.pincode-container{
    display: flex;
    justify-content: flex-end;
    height: 120px;
    flex-direction: column;
    align-items: center;

}
.visibility-auth{
    margin-top: -10px;
    margin-bottom: 10px;
}

.pininput-helpertext {
    transform: translateY(20px);
    color: red;
}