.form-actions{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user-icon {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon .icon{
    border-radius: 5rem;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    padding: "5px";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.form-row-1 { grid-area: 1 / 1 / 2 / 2; }
.form-row-2 { grid-area: 1 / 2 / 2 / 3; }
.form-row-3 {
    margin-left: 10%;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: left;
    z-index: 2;
}
.form-row-4 { grid-area: 2 / 1 / 3 / 2; }
.form-row-5 {
 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.form-row-6 { grid-area: 3 / 1 / 4 / 4; width: 95%; }
.form-row-7 {
    grid-area: 4 / 1 / 5 / 4;    width: 100%;
    display: flex;
    justify-content: center;
}

.color-picker-title {
    width: 	100%;
    display: flex;
    height: 100%;
    align-items: center;
}

.color-picker-title button{
    margin: 10px 10px 10px 30px;
    border-radius: 5rem;
    height: 30px;
    width: 30px;
    border: none;
}

.color-picker{
    transform: translateY(-30px);
}