.overlay, .overlay.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
}
.overlay.active{
  animation: overlayIn 0.15s ease-in-out forwards;
}
.overlay{
  animation: overlayOut 0.20s ease-in-out forwards;
}

.modal.active, .modal{
  position: fixed;
  min-width: 340px;
  max-width: 800px;
  top: 40%;
  left: 50%;
  width: 50%;
  transform:  translate(-50%, -50%);
  border-radius: 3rem;
  background-color: white;
  z-index: 1001;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.modal.active{
    opacity: 0% ;
    animation: modalFadeIn .2s .2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal{
    animation: modalFadeOut .15s .15s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal.active>* {
  opacity: 0% ;
  animation: modalContentFadeIn .25s .25s forwards;
}
.modal>* {
  animation: modalContentFadeOut .10s .10s forwards;
}
.modal-content {
  padding: 10%;
  position: relative;
}

.closing-button{
    display: flex;
    justify-content: end;
    width: 97%;
    position: absolute;
    margin-top: 4%;
    z-index: 5;
}

.closing-button button{
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
}

.closing-button button:active{
    transform: rotate(0deg);
}

.closing-button button:focus{
    transform: rotate(0deg);
}

@keyframes overlayIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes overlayOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes modalFadeIn {
    0% {
      opacity: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    100% {
      box-shadow: -7px 15px 21px 8px rgba(196,174,143,0.84);
      -webkit-box-shadow: -7px 15px 21px 8px rgba(196,174,143,0.84);
      -moz-box-shadow: -7px 15px 21px 8px rgba(196,174,143,0.84);
      opacity: 1;
    }
  }

@keyframes modalContentFadeIn {
    0% {
      opacity:0;
      top:-20px;
      background-color: transparent;
    }
    100% {
      opacity:1;
      top:0;
    }
  }

@keyframes modalFadeOut {
    0% {
      background-color:white;
    }
    100% {
      background-color:transparent;
    }
  }

  @keyframes modalContentFadeOut {
    0% {
      opacity:1;
      top:0px;
    }
    100% {
      opacity:0;
      top: 20px;
    }
  }