.option-picker-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    height: 50px;
    margin-bottom: 2%;
}

.option-picker-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
    border: 1px solid black;
    border-radius: 2rem;
}

.option-picker{
    font-family: Urbanist-Medium;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    cursor: pointer;
}

.option-picker-item{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 150px;
    height: 100%;
}

.option-picker-selector{
    position: absolute;
    z-index: -1;
    height: 50px;
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #1976d2;
    transition: transform 0.2s ease-in-out;
}
