@font-face { font-family: Urbanist-Medium; src: url("./fonts/Urbanist/Urbanist-Medium.otf"); }
.userscreen-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    max-width: 1060px;
}

.info-card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0.5;
    margin-top: 200px;
    width: 375px;
    height: 375px;
    border-radius: 2rem;
    box-shadow: -7px 15px 21px 8px rgb(196 174 143 / 84%);
    -webkit-box-shadow: -7px 15px 21px 8px rgb(196 174 143 / 84%);
    -moz-box-shadow: -7px 15px 21px 8px rgba(196,174,143,0.84);
}

.info-card-text {
    font-family: Urbanist-Medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10%
}
.info-card-title {
    font-size: 3rem;
}
.info-card-img{
    position: relative;
    top: -95%;
    width: 100px;
    height: 100px;
    fill: white;
}

.user-logout{
    position: absolute;
    bottom: 10px;
    right: 3px;
    padding: 10px;
    cursor: pointer;
}